.background {
    -fx-background-color: #91cbcd;
}

.label {
    -fx-text-fill: #114552;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #c0d6bf;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #c0d6bf;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #061021;
    -fx-control-inner-background: #508086;
    -fx-background-color: #2f7a85;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: #05202a;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.menu-bar {
    -fx-background-color: derive(#104954,20%);
}

.context-menu {
    -fx-background-color: derive(#104954,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #c0d6bf;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #114552;
    -fx-border-width: 2;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #114552;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #c0d6bf;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #465d60;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #20968b;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: #0f6b57, #0f6b57;
    -fx-border-width: 1, 1;
    -fx-border-radius: 15;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #c0d6bf;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #c0d6bf;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}
